<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about page</title>
</head>
<body>
    <% const nama = "zul" %>
    <h1>About Us</h1>
    <p>This is the about page.</p>

    <p>Halo Nama saya <%= nama %></p>

    <% mahasiswa.forEach(mhs => { %>
    <li>
        <ul>
            <%= mhs.nama %> 
        </ul>
        <ul>
            <%= mhs.nim %>
        </ul>
    </li>   
    <% }) %>
</body>
</html>